In [34]:
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import warnings
import time
import json

warnings.filterwarnings("ignore")


plt.style.use("fivethirtyeight")

sns.set_style({'font.sans-serif': ['simsun', 'Arial']})
sns.set_style('darkgrid', {'font.sans-serif': ['simhei', 'Arial']})
%matplotlib inline

holidays = json.load(open(r'../../Data/Holidays.json'))['holidays']

In [17]:
df_copy = pd.read_csv(
    r'../../Data/data_set_phase1/train_queries.csv')
df = df_copy.copy()

In [18]:
df.head()

       sid       pid             req_time             o             d
0  3000821       NaN  2018-11-02 17:54:30  116.29,39.97  116.32,39.96
1  3085857  210736.0  2018-11-16 10:53:10  116.39,39.84  116.33,39.79
2  2944522       NaN  2018-10-06 10:33:58  116.31,39.93  116.27,40.00
3   559931  202427.0  2018-11-23 14:54:11  116.27,39.88  116.39,39.90
4  2819352  172251.0  2018-10-30 11:48:41  116.34,39.96  116.37,39.86

# Datetime

In [36]:
df['req_time'] = pd.to_datetime(df['req_time'])
df['day_of_week'] = df['req_time'].dt.day_name()
df['req_date'] = df['req_time'].dt.date
df['req_hour'] = df['req_time'].dt.hour
df['req_minute'] = df['req_time'].dt.minute
df.head()

,sid,pid,req_time,o,d,day_of_week,req_hour,req_date,o_lng,o_lat,d_lng,d_lat,manhattan_distance,req_minute
0,3000821,NaN,2018-11-02 17:54:30,"116.29,39.97","116.32,39.96",Friday,17,2018-11-02,116.29,39.97,116.32,39.96,0.04,54
1,3085857,210736.0,2018-11-16 10:53:10,"116.39,39.84","116.33,39.79",Friday,10,2018-11-16,116.39,39.84,116.33,39.79,0.11,53
2,2944522,NaN,2018-10-06 10:33:58,"116.31,39.93","116.27,40.00",Saturday,10,2018-10-06,116.31,39.93,116.27,40.00,0.11,33
3,559931,202427.0,2018-11-23 14:54:11,"116.27,39.88","116.39,39.90",Friday,14,2018-11-23,116.27,39.88,116.39,39.90,0.14,54
4,2819352,172251.0,2018-10-30 11:48:41,"116.34,39.96","116.37,39.86",Tuesday,11,2018-10-30,116.34,39.96,116.37,39.86,0.13,48

,sid,pid,req_time,o,d,day_of_week,req_hour,req_date
0,3000821,NaN,2018-11-02 17:54:30,"116.29,39.97","116.32,39.96",Friday,17,2018-11-02
1,3085857,210736.0,2018-11-16 10:53:10,"116.39,39.84","116.33,39.79",Friday,10,2018-11-16
2,2944522,NaN,2018-10-06 10:33:58,"116.31,39.93","116.27,40.00",Saturday,10,2018-10-06
3,559931,202427.0,2018-11-23 14:54:11,"116.27,39.88","116.39,39.90",Friday,14,2018-11-23
4,2819352,172251.0,2018-10-30 11:48:41,"116.34,39.96","116.37,39.86",Tuesday,11,2018-10-30

# Distance

In [31]:
df['o_lng'] = df['o'].apply(lambda x: float(x.split(',')[0]))
df['o_lat'] = df['o'].apply(lambda x: float(x.split(',')[1]))
df['d_lng'] = df['d'].apply(lambda x: float(x.split(',')[0]))
df['d_lat'] = df['d'].apply(lambda x: float(x.split(',')[1]))
df['od_manhattan_distance'] = abs(
    df['o_lng']-df['d_lng'])+abs(df['o_lat']-df['d_lat'])